RewriteEngine On
RewriteBase /

# Redirigir todas las solicitudes a public/index.php excepto para archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]

# Permitir acceso a los assets
RewriteRule ^assets/ - [L]

# Agregar estas líneas al final del archivo
ErrorDocument 404 /error.php?code=404
ErrorDocument 403 /error.php?code=403
ErrorDocument 500 /error.php?code=500 